#active-img img{
	width: 70vw;
	height: 80vh;
}

#coments{
	height: 30px;
	width: 70vw;
	font-size: 14px;
	font-family:  "Arial", "Verdena";
}
#menu-gallery img{
	width: 5vw;
	margin:  1vw;
	height: 10vh;
}
#small-imgs img{
	width: 18%;
}
#small-imgs{
	justify-content: center; 
	position: relative;
	display: flex;
}
#conter-small-img{
	justify-content: center;
	display: flex;
	width: 70vw;
	overflow: hidden;

}
#menu-gallery{ 
	justify-content: center;
	display: flex;
}
body{
	overflow:  hidden; 
	width: 100vw;
	height: 100vh;
	margin: 0px;
	background-image: url(img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#active-img{
	position: relative;
}